.textss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 10px;
}

.fgt-form{
    text-align: center;
    margin-top: 50px;
}

.log-nav{
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}